node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
coverage
build
dist
**/dist
.next
**/.next
.env
*.local
frontend/.next
backend/dist

# Optional generated folders
backend/node_modules
frontend/node_modules
backend/yarn.lock
